.flip {
  height: calc(100% - 28px);
}

.react-card-flip {
  height: 100%;
}

.giftTitle {
  font-size: 24px;
  margin-bottom: 16px;
}

.gifts {
  height: calc(100% - 48px);
}

.happyNY {
  height: 100%;
  width: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: break-spaces;
  text-align: center;
}

