.task {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;

  &__title {
    font-size: 27px;
    font-weight: 1000;
  }

  &__text {
    font-size: 22px;
  }

  a {
    color: #ffd84b;
  }

  .crossword {
    input {
      &:focus {
        outline-width: 2px;
        border-radius: 0;
        outline-color: #f5ac27;
      }
    }
  }

  .clues {
    margin: 0;
    padding: 0;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-wait {
  background-color: #a3262a !important;

  &__content {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.grinch {
  height: 34px;
  margin-top: 4px;
  animation: rotating 1s linear infinite;
}

