.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid;
  margin-top: 1px;
  margin-left: 1px;
  width: 30px;
  height: 30px;
  user-select: none;

  &__colored {
    background-color: #f5ac27;
  }

  &__pointer {
    cursor: pointer;
  }
}

