.japanese {
  &__wrap {
    display: grid;
    grid-template-columns: auto auto; /* Две колонки с автошириной */
    grid-template-rows: auto auto;
  }

  &__empty {
    background-color: gray;
    width: 20px;
    height: 20px;
  }

  &__left {
    background-color: gray;
    width: 20px;
  }
}

