.pointer {
  height: 48px;
  width: 48px;
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #eee;
  border-radius: 16px;
  overflow: hidden;
}

.circleAround {
  padding: 24px;
  border-radius: 100px;
  background-color: rgb(184, 183, 183);
}

.certificate {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.number {
  font-size: 40px;
}
