@keyframes snow1 {
  from {
    background-position: 0 -300px;
  }
  20% {
    background-position: 20% -100px;
  }
  40% {
    background-position: 30% 100px;
  }
  to {
    background-position: 20% 1000px;
  }
}

.App {
  width: 100%;
  height: 100%;
  padding: 24px;
  padding-bottom: 0;
}

.grats {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;

  h1 {
    font-size: 80px;
    color: #f5ac27;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.greeting {
  font-size: 22px;
  text-align: justify;
  margin-top: 8px;
}

.space {
  flex-grow: 1;
}

.takebtn {
  font-size: 32px;
  bottom: 24px;
  color: #cc232a;
  background-color: #f5ac27;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  padding: 12px;
  border: none;
  font-family: 'Bookman';

  &:active {
    background-color: #cc9902;
  }
}

.space {
  flex-grow: 1;
}

