code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Modernist Three';
  src: url('./fonts/modernist_three.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/modernist_three.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('./fonts/modernist_three.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/modernist_three.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('./fonts/modernist_three.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/modernist_three.svg#modernist_three') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Bookman';
  src: url('./fonts/Bookman Old Style Regular.ttf') format('truetype');
}

html {
  all: unset;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #cc232a;
  font-family: 'Modernist Three';
  height: 100%;
  width: 100%;
}

div {
  font-family: 'Bookman';
  box-sizing: border-box;
  color: #ffd84b;
}

h1 {
  font-family: 'Modernist Three';
  margin: 0;
}

button {
  font-size: 32px;
  color: #cc232a;
  background-color: #f5ac27;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  padding: 12px;
  border: none;
  font-family: 'Bookman';
  transition: background-color 0.3s ease;
  margin-bottom: 24px;

  &:active {
    background-color: #cc9902;
  }
}

input {
  all: unset;
  border: none;
  height: 32px;
  background-color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 22px;

  &:focus {
    outline: 4px solid #f5ac27;
    box-shadow: none;
  }
}

